"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    particles: {}
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "aligner-css": {}
  "aligner-scss": {}
  "atom-package-deps":
    ignored: []
  "autocomplete-modules":
    babelPluginModuleAlias: true
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "metrics"
      "whitespace"
      "language-javascript-jsx"
    ]
    packagesWithKeymapsDisabled: [
      "rst-preview-pandoc"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "D2Coding"
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "file-icons":
    coloured: false
    forceShow: true
    onChanges: true
  "git-plus": {}
  "highlight-selected":
    lightTheme: true
  "language-babel":
    emmetCSSAutocomplete: true
  linter: {}
  "linter-eslint":
    globalNodePath: "/opt/homebrew"
  "linter-stylelint": {}
  "linter-ui-default":
    panelHeight: 127
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
  minimap: {}
  "node-debugger":
    nodePath: "/opt/homebrew/bin/node"
  "platformio-ide-terminal":
    style:
      defaultPanelHeight: "200px"
    toggles:
      autoClose: true
  "rst-preview-pandoc":
    liveUpdate: false
    pandocOpts: "-fmarkdown_github -thtml --webtex"
  "toggle-quotes": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
